
.boxCont{
	position:relative;
	width: 100vw;
	margin-top: 15vh;
}

.innerBoxCont{
	position: relative;
	margin: auto;
	width: 54vw;
	height: 100%;
	top: 0px;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: left;
}


@media screen and (min-width: 1024px) {
	.boxCont{
		margin-top: 5vw;
	}
	.innerBoxCont{
		width: 54vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.boxCont{
		margin-top: 6vw;
	}
	.innerBoxCont{
		width: 60vw;
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.boxCont{
		margin-top: 11vw;
	}
	.innerBoxCont{
		width: 69vw;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.boxCont{
		margin-top: 20vw;
	}
	.innerBoxCont{
		width: 81vw;
	}
}

@media screen and (min-width: 375px) and (max-width: 450px) {
	.boxCont{
		margin-top: 23vw;
	}
	.innerBoxCont{
		width: 81vw;
	}
}

@media screen and (max-width: 375px) {
	.boxCont{
		margin-top: 25vw;
	}
	.innerBoxCont{
		width: 90vw;
	}
}