.imgCont{
	position: relative;
	width: 15vw;
	height: 15vw;
	background-color: #efefef;
	margin: 1.5vw;
	border-radius: 1vw;
	box-shadow: 0px 40px 40px #888888;
}

.imgBox{
	position: relative;
	width: 15vw;
	height: 15vw;
	background-size: cover;
	border-radius: 1vw;
}

.imgContOpen{
	position: relative;
	width: 100vw;
	height: 62vh;
	background-color: #efefef;
	margin: 1.5vw;

    background-size: 100% 100%;
	border-radius: 1vw;
	z-index: 5;
}

.imgBoxOpen{
	position: relative;
	margin: auto;
	margin-top: 1vh;
	width: 60vh;
	height: 60vh;
	border-radius: 1vw;
	background-size: cover;
	z-index: 5;
}

@media screen and (min-width: 1024px) {
	.imgCont{
		width: 15vw;
		height: 15vw;
	}
	.imgBox{
		width: 15vw;
		height: 15vw;
	}
	.imgContOpen{
		width: 51vw;
		height: 62vh;
	}
	.imgBoxOpen{
		width: 60vh;
		height: 60vh;
		margin-top: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.imgCont{
		width: 16vw;
		height: 16vw;
	}
	.imgBox{
		width: 16vw;
		height: 16vw;
	}
	.imgContOpen{
		width: 54vw;
		height: 54vw;
	}
	.imgBoxOpen{
		width: 54vw;
		height: 54vw;
		margin-top: 0px;
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.imgCont{
		width: 20vw;
		height: 20vw;
	}
	.imgBox{
		width: 20vw;
		height: 20vw;
	}
	.imgContOpen{
		width: 66vw;
		height: 66vw;
	}
	.imgBoxOpen{
		width: 66vw;
		height: 66vw;
		margin-top: 0px;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.imgCont{
		width: 24vw;
		height: 24vw;
	}
	.imgBox{
		width: 24vw;
		height: 24vw;
	}
	.imgContOpen{
		width: 78vw;
		height: 78vw;
	}
	.imgBoxOpen{
		width: 78vw;
		height: 78vw;
		margin-top: 0px;
	}
}

@media screen and (min-width: 375px) and (max-width: 450px) {
	.imgCont{
		width: 24vw;
		height: 24vw;
	}
	.imgBox{
		width: 24vw;
		height: 24vw;
	}
	.imgContOpen{
		width: 78vw;
		height: 78vw;
	}
	.imgBoxOpen{
		width: 78vw;
		height: 78vw;
		margin-top: 0px;
	}
}

@media screen and (max-width: 375px) {
	.imgCont{
		width: 27vw;
		height: 27vw;
	}
	.imgBox{
		width: 27vw;
		height: 27vw;
	}
	.imgContOpen{
		width: 87vw;
		height: 87vw;
	}
	.imgBoxOpen{
		width: 87vw;
		height: 87vw;
		margin-top: 0px;
	}
}