.nameBar{
	position: fixed;
	width: 100vw;
	height: 20vh;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 10;
	background-color: #fff;
}

.name{
	position: relative;
	height: 12vh;
	margin-top: 4vh;
	background: linear-gradient(145deg,#DA4453,#89216B);
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
	.nameBar{
		height: 23vh;
	}
	.name{
		font-size: 5.5vw;
		height: 15vh;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.nameBar{
		height: 23vh;
	}
	.name{
		font-size: 8vw;
		height: 15vh;
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.nameBar{
		height: 23vh;
	}
	.name{
		font-size: 10vw;
		height: 15vh;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.nameBar{
		height: 22vh;
	}
	.name{
		font-size: 12vw;
		height: 14vh
	}
}

@media screen and (min-width: 375px) and (max-width: 450px) {
	.nameBar{
		height: 21vh;
	}
	.name{
		font-size: 16vw;
		height: 12vh;
	}
}

@media screen and (max-width: 375px) {
	.nameBar{
		height: 18vh;
	}
	.name{
		font-size: 16vw;
		height: 12vh
	}
}