
.tileOuterCont{
	position: relative;
	width: 26vw;
	height: 20vw;
	margin: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
}

.tileCont{
	position: relative;
	width: 26vw;
	height: 20vw;
	box-shadow: 0px 10px 30px #888888;
	border-radius: 1vw 1vw 1vw 1vw;
}

.tileTitle{
	position: relative;
	width: 26vw;
	height: 7vw;
	padding-top: 3vw;
	background: linear-gradient(145deg,#0cebeb,#20e3b2,#29ffc6);
	border-radius: 1vw 1vw 0 0;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: #AD1457
}

.tileBody{
	position: relative;
	width: 22vw;
	height: 6vw;
	padding: 2vw;
	background-color: #fafafa;
	border-radius: 0 0 1vw 1vw;
	font-family: 'Cantarell', sans-serif;
	font-size: 1vw;
}

.tileImgCont{

}

.tileImg{

}

.tileLink{
	position: absolute;
	width: 20%;
	height: 15%;
	background-size: 100% 100%;
	left: 0px;
	top: 0px;
	background :url('http://res.cloudinary.com/metalohith/image/upload/v1516665317/link_1_jbcn7f.jpg');
}


.tileOuterContOp{
	position: relative;
	width: 56vw;
	height: 20vw;
	margin: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
	box-shadow: 0px 10px 30px #888888;
	display: flex;
	flex-wrap: wrap;
}

.tileContOp{
	position: relative;
	width: 26vw;
	height: 20vw;
	border-radius: 1vw 0vw 0vw 1vw;
}

.tileTitleOp{
	position: relative;
	width: 26vw;
	height: 7vw;
	padding-top: 3vw;
	background: linear-gradient(90deg,#0cebeb,#20e3b2,#29ffc6);
	border-radius: 1vw 0vw 0 0;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: #AD1457
}

.tileBodyOp{
	position: relative;
	width: 22vw;
	height: 6vw;
	padding: 2vw;
	background-color: #fafafa;
	border-radius: 0 0 0vw 1vw;
	font-family: 'Cantarell', sans-serif;
	font-size: 1vw;
}

.tileImgContOp{
	position: relative;
	width: 30vw;
	height: 20vw;
	background-color: #29ffc6;
	border-radius: 0vw 1vw 1vw 0;
}

.tileImgOp{
	position: relative;
	width: 28vw;
	height: 18vw;
	margin: 1vw;
	background-size: cover;
	border-radius: 0vw 1vw 1vw 0;
}

@media screen and (min-width: 1024px) {

	.tileOuterCont{
		width: 26vw;
		height: 20vw;
		margin: 2vw;
	}

	.tileCont{
		width: 26vw;
		height: 20vw;
	}

	.tileTitle{
		width: 26vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBody{
		width: 22vw;
		height: 6vw;
		padding: 2vw;
		font-size: 1vw;
	}

	.tileOuterContOp{
		width: 56vw;
		height: 20vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 26vw;
		height: 20vw;
	}

	.tileTitleOp{
		width: 26vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBodyOp{
		width: 22vw;
		height: 6vw;
		padding: 2vw;
	}

	.tileImgContOp{
		width: 30vw;
		height: 20vw;
	}

	.tileImgOp{
		width: 28vw;
		height: 18vw;
		margin: 1vw;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.tileOuterCont{
		width: 29vw;
		height: 20vw;
		margin: 2vw;
	}

	.tileCont{
		width: 29vw;
		height: 20vw;
	}

	.tileTitle{
		width: 29vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBody{
		width: 25vw;
		height: 6vw;
		padding: 2vw;
		font-size: 1.4vw;
	}

	.tileOuterContOp{
		width: 62vw;
		height: 20vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 29vw;
		height: 20vw;
	}

	.tileTitleOp{
		width: 29vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBodyOp{
		width: 25vw;
		height: 6vw;
		padding: 2vw;
		font-size: 1.4vw;
	}

	.tileImgContOp{
		width: 33vw;
		height: 20vw;
	}

	.tileImgOp{
		width: 31vw;
		height: 18vw;
		margin: 1vw;
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.tileOuterCont{
		width: 31vw;
		height: 24vw;
		margin: 2vw;
	}

	.tileCont{
		width: 31vw;
		height: 24vw;
	}

	.tileTitle{
		width: 31vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBody{
		width: 27vw;
		height: 10vw;
		padding: 2vw;
		font-size: 2vw;
	}

	.tileOuterContOp{
		width: 66vw;
		height: 24vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 31vw;
		height: 24vw;
	}

	.tileTitleOp{
		width: 31vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2vw;
	}

	.tileBodyOp{
		width: 27vw;
		height: 10vw;
		padding: 2vw;
		font-size: 2vw;
	}

	.tileImgContOp{
		width: 35vw;
		height: 24vw;
	}

	.tileImgOp{
		width: 33vw;
		height: 22vw;
		margin: 1vw;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.tileOuterCont{
		width: 34vw;
		height: 28vw;
		margin: 2vw;
	}

	.tileCont{
		width: 34vw;
		height: 28vw;
	}

	.tileTitle{
		width: 34vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2.5vw;
	}

	.tileBody{
		width: 30vw;
		height: 14vw;
		padding: 2vw;
		font-size: 2.2vw;
	}

	.tileOuterContOp{
		width: 72vw;
		height: 28vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 34vw;
		height: 28vw;
	}

	.tileTitleOp{
		width: 34vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 2.5vw;
	}

	.tileBodyOp{
		width: 30vw;
		height: 14vw;
		padding: 2vw;
		font-size: 2.2vw;
	}

	.tileImgContOp{
		width: 38vw;
		height: 28vw;
	}

	.tileImgOp{
		width: 36vw;
		height: 26vw;
		margin: 1vw;
	}
}

@media screen and (min-width: 375px) and (max-width: 450px) {
	.tileOuterCont{
		width: 36vw;
		height: 36vw;
		margin: 2vw;
	}

	.tileCont{
		width: 36vw;
		height: 36vw;
	}

	.tileTitle{
		width: 36vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 3.5vw;
	}

	.tileBody{
		width: 32vw;
		height: 22vw;
		padding: 2vw;
		font-size: 3vw;
	}

	.tileOuterContOp{
		width: 76vw;
		height: 36vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 36vw;
		height: 36vw;
	}

	.tileTitleOp{
		width: 36vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 3.5vw;
	}

	.tileBodyOp{
		width: 32vw;
		height: 22vw;
		padding: 2vw;
		font-size: 3vw;
	}

	.tileImgContOp{
		width: 40vw;
		height: 36vw;
	}

	.tileImgOp{
		width: 38vw;
		height: 34vw;
		margin: 1vw;
	}
}

@media screen and (max-width: 375px) {
	.tileOuterCont{
		width: 41vw;
		height: 40vw;
		margin: 2vw;
	}

	.tileCont{
		width: 41vw;
		height: 40vw;
	}

	.tileTitle{
		width: 41vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 3.3vw;
	}

	.tileBody{
		width: 37vw;
		height: 26vw;
		padding: 2vw;
		font-size: 3.7vw;
	}

	.tileOuterContOp{
		width: 86vw;
		height: 40vw;
		margin: 2vw;
	}

	.tileContOp{
		width: 41vw;
		height: 40vw;
	}

	.tileTitleOp{
		width: 41vw;
		height: 7vw;
		padding-top: 3vw;
	    font-size: 3.3vw;
	}

	.tileBodyOp{
		width: 37vw;
		height: 26vw;
		padding: 2vw;
		font-size: 3.7vw;
	}

	.tileImgContOp{
		width: 45vw;
		height: 40vw;
	}

	.tileImgOp{
		width: 43vw;
		height: 38vw;
		margin: 1vw;
	}
}