
.timeLineOuterCont{
	position:relative;
	width: 100vw;
	padding-top: 15vh;
	height: 100vh;
}

.timeLineCont{
	position: relative;
	margin: 0 0 0 30vw;
	width: 70vw;
	height: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	flex-direction: left;
}


@media screen and (min-width: 1024px) {
	.timeLineCont{
		margin: 0 0 0 20vw;
		width: 80vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.timeLineCont{
		margin: 0 0 0 20vw;
		width: 80vw;
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.timeLineCont{
		margin: 0 0 0 20vw;
		width: 80vw;
	}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
	.timeLineCont{
		margin: 0 0 0 20vw;
		width: 80vw;
	}
}

@media screen and (min-width: 375px) and (max-width: 450px) {
	.timeLineCont{
		margin: 0 0 0 0vw;
		width: 100vw;
	}
}

@media screen and (max-width: 375px) {
	.timeLineCont{
		margin: 0 0 0 0vw;
		width: 100vw;
	}
}